body {
    background-color: #dfe0ec;
}

.form-regist {
    padding: 20px;
    background-color: #c3c6c6;
    margin-top: 150px;
    max-width: 800px;
    border-radius: 5px;
}

.title-regist {
    text-align: center;
}

.submit-regist, .submit-new-article {
    text-align: center;
}

.nav-header {
    padding: 0 70px;
}

.error h5 {
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: darkred;
    background: #e78a8a;
}
feed{
    margin-top: 50px;
    margin-bottom: 50px;

}
.feed-article{
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #c3c6c6;
}
.account-info{
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #c3c6c6;
}
.position-item{
    display:inline-block;
    flex:1 1 auto;
    text-align: center;
    margin: 0 auto;
    max-width: 30%;
}
.btn-block{
    margin-top: 20px;
}
.btn_save{
    width: 100%;
}
.articles{
    margin-top: 20px;
    justify-content: center;
}
.articles h2,h4{
    text-align: center;
}

.articles h4{
    color: #747474;
}
.articles h2{
    padding: 10px;
    background-color: #7bb97c;
    color: #064e0b;
    border-radius: 5px;
}
.article-block{
    border-radius: 5px;
    background-color: #a9a9a9;
    padding: 10px;
    margin: 0 2px 10px;
    max-width: 30%;
}

.article-body{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    box-orient: vertical;
}
.inactive-btn{
    pointer-events: none;
    background-color: #8d494f;
    border-color: #8d494f;
}
